.Dictionary-header {
  padding: 30px 0;
  background-color: #8fc1d4;
}

h1 {
  font-weight: 650 !important;
}

.Dictionary input {
  border-radius: 6px;
  color: #333;
  border: 1px solid #ddd;
  margin-top: 8px;
}

.Dictionary .Search-field {
  color: #333;
}
